<h1 class="top">ユーザー編集ページ</h1>

<div class="edit" style="text-align:center;">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :introduction, "プロフィール" %>
    <%= f.text_area :introduction, class: 'form-control' %>

    <p>プロフィール画像</p>
    <%= f.file_field :image_name, class: 'image-edit' %>

    <p class="image-delete"><%= f.check_box :remove_image_name %> プロフィール画像を削除する</p>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <div class="submit">
      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
