<h1 class="signup">新規登録</h1>

<div class="signup-can">
  <div class="signup-can-be">
    <h2>アカウント登録するとできる事</h2>
    <p>・テーマを決める</p>
    <p>・テーマ毎にコメント</p>
    <p>・いいね！をつける</p>
  </div>
</div>

<div class="form signupsize" style="text-align:center;">
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>


    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <div class="submit">
      <%= f.submit "アカウントを登録する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
