<div class="user-image">
  <%= image_tag @user.image_name.url, :class => "user-image-position" %>
</div>
  <i class="fas fa-cog"></i>
  <p class="myname"><%= @user.introduction %></p>


  <% if logged_in? %>
    <% unless current_user == @user %>
      <div class="follow">
      <% if current_user.following? @user %>
        <p><%= link_to 'フォロー中', unfollow_path(@user), method: :delete, :class => "follow-t" %></p>
      <% else %>
        <p><%= link_to 'フォローする', follow_path(@user), method: :post, :class => "follow-t" %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="followlist">
    <%= link_to "フォロー(#{@user.follow_count})",follow_list_path(@user), :class => "following" %>
    <%= link_to "フォロワー(#{@user.followers_count})",follower_list_path(@user), :class => "follower" %>
  </div>

<% if current_user?(@user) %>
  <%= link_to "プロフィールの編集", edit_user_path(current_user) %>
  <%= link_to "アカウント削除", @user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
<% end %>
