<div class="about">
  <h1>談話室とは</h1>
  <p>話したいテーマをあげてもらい、ゆる〜くお話ししよう。</p>
  <p>※誹謗中傷はしないでください。</p>
</div>

  <p>新着5件</p>
  <p>＿＿＿＿＿＿＿＿_______________________________________________</p>
  <% @microposts_new.first(3).each do |micropost| %>
    <%= micropost.user.name %>

    <%= link_to micropost.content,"/microposts/#{micropost.id}" %>

    <%= micropost.created_at %>

    <span><%= "コメント(#{micropost.comments.count})"%></span>

    <% if micropost.user == current_user %>
       <%= link_to "削除", micropost_path(micropost.id), method: :delete,
                 data: { confirm: "本当に削除しますか?" } %>
    <% end %>
    <hr />
  <% end %>

  <p>ランキング上位5件</p>
  <p>＿＿＿＿＿＿＿＿_______________________________________________</p>
  <% @microposts_rank.first(3).each do |micropost| %>
    <%= micropost.user.name %>

    <%= link_to micropost.content,"/microposts/#{micropost.id}" %>

    <%= micropost.created_at %>

    <span><%= "コメント(#{micropost.comments.count})"%></span>

    <% if micropost.user == current_user %>
       <%= link_to "削除", micropost_path(micropost.id), method: :delete,
                 data: { confirm: "本当に削除しますか?" } %>
    <% end %>
    <hr />
  <% end %>
