<h1 class="top">テーマ一覧 (新着順)</h1>

<div class="continer">
  <p class="number">新着順に並べ替え</p>
  <% @microposts.each do |micropost| %>
   <div class="block">
    <div class="form-range">
      <%= link_to micropost.user do %>
        <%= image_tag micropost.user.image_name.url, :class => "image" %>
      <% end %>
    </div>
    <div class="form-range-2">
      <p class="name"><%= link_to "#{micropost.user.name}".truncate(15), micropost.user, :class => "name"%></p>
      <p class="time"><%= simple_time(micropost.created_at) %></p>
      <p class="micropost"><%= link_to micropost.content.truncate(30),"/microposts/#{micropost.id}", :class => "micropost" %></p>
      <div class="right">
      <span class="comment"><%= link_to "コメント(#{micropost.comments.count})","/microposts/#{micropost.id}", :class => "comment"%></span>
      <% if micropost.user == current_user %>
        <%= link_to "削除", micropost_path(micropost.id), method: :delete,
             data: { confirm: "本当に削除しますか?" } %>
      <% end %>
      </div>
    </div>
    <hr />
   </div>
  <% end %>
</div>
<div class="text-center">
  <%= paginate @microposts %>
</div>
