<!DOCTYPE html>
<html>
  <head>
    <title>SeisakuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <a href="#">『 談話室 』</a>
      <ul class="header-list">
        <li>新着</li>
        <li>人気</li>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
