<!DOCTYPE html>
<html>
  <head>
    <title>SeisakuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <!-- <a  class="logo" href="#">『 談話室 』</a> -->
      <%= link_to "『 談話室 』", root_path, class: "logo"%>
      <ul class="header-list">
        <li>新着</li>
        <li>人気</li>
        <% if logged_in? %>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", signup_path%></li>
          <li><%= link_to "ログイン", login_path%></li>
        <% end %>
      </ul>
    </div>

    <% if flash[:notice] %>
      <div class="message notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:danger] %>
      <div class="message danger">
        <%= flash[:danger] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
